<div class="well">
  <h2>League</h2>
  <p>
    There are <span ng-cloak class="label label-info">{{ teams.length }}</span> teams in this league. 
    <br />
  </p>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Owner</th>
        <th>Standing</th>
      </tr>
    </thead>
    <tbody>
      <!-- LOOP OVER THE TEAMS IN $scope.teams -->
      <tr ng-cloak ng-repeat="team in teams">
        <td>
          <a href="#/team/{{team.tid}}">{{ team.team_name }}</a>
        </td>
        <td>
          {{ team.username }}
        </td>
        <td>
          {{ team.total_points || 0 }}
        </td>
      </tr>
    </tbody>
  </table>
</div> <!-- .well -->
